.exchange-history{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .inputs{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: var(--color-primary) !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:var(--color-primary) !important; /*outer ring color change*/
}

table {
    width: 100%;
}

.tables{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}