:host{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    a{
        text-decoration: none;
        color: inherit;
    }
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 25%;
    cursor: pointer;

    .text-1{
        font-size: 36px;
        font-weight: 200;
    }

    .text-2{
        font-size: 36px;
        font-weight: bold;
    }

    img{
        height: 40px;
    }
}

.nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 65%; 
}

.logout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 10%;
    color: var(--color-primary);
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;

    li{
    list-style-type:none;
    cursor: pointer;
    color: var(--color-table-header-text);
    height: 100%;
    padding-top:20px;
    padding-bottom:20px;

    }

    li:hover{
        color: var(--color-default-text);
        border-bottom:4px solid var(--color-primary);
    }
}

.active{
    color: var(--color-default-text) !important;
    border-bottom:4px solid var(--color-primary);
}
